# Loops

In [1]:
#The loops are of two types-> while and for loop

In [2]:
#We have another concept while else and for else

In [4]:
i=5
while(i>=1):
    print("data science:",i)
    i=i-1

data science: 5
data science: 4
data science: 3
data science: 2
data science: 1

In [5]:
i=1
while i<=5:
    print('data science')
    j=1
    while j<=4:
        print('technology')
        j=j+1
    i=i+1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [6]:
i=1
while i<=5:
    print('data science',end="")
    j=1
    while j<=4:
        print('technology',end="")
        j=j+1
    i=i+1
    print()

data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology

In [7]:
i=1
while i<=2:
    j=0
    while j<=2:
        print(i*j,end=" ")
        j+=1
    print()
    i+=1

0 1 2
0 2 4

In [8]:
i=1
while i<=4:
    j=0
    while j<=3:
        print(i*j,end=" ")
        j+=1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [9]:
i=10
while i<=4:
    j=0
    while j<=3:
        print(i*j,end=" ")
        j+=1
    print()
    i+=1
else:
    print('condition is not matched')

condition is not matched

In [10]:
#for loop

In [12]:
#when to use while loop and when to use for loop
#while loop--use when we have condition
#for loop--use when we have a sequence--(datatype,datastructure)

In [13]:
name="nit"
for i in name:
    print(i)

n
i
t

In [15]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [17]:
no=5
for i in range(1,11,1):
    print(i*no)

5
10
15
20
25
30
35
40
45
50

In [18]:
#BREAK|CONTINUE|PASS

In [19]:
#break:if you apply break the loop will end

In [21]:
for i in range(1,11):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [23]:
#continue
for i in range(1,11):
    if i==4:
        continue
    print(i)

1
2
3
5
6
7
8
9
10

In [24]:
for i in range(1,11):

_IncompleteInputError: incomplete input (1116375593.py, line 2)

In [26]:
#pass
for i in range(1,11):
    pass

In [28]:
nums=[12,18,21,26]
for num in nums:
    if num%5==0:
       print(num)
       break
else:
    print("Wrong")

Wrong